/*****configuraciones basicas del cuerpo de la pagina*********/
body{
    margin: 0;
    font-family: "ubuntu", sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
    text-decoration: none;
    background-color:#222429;
}

/*******logo marca de la pagina*************/
.imagem{
	width: 100px;
	height: 80px;
	background-image: url("/proyecto-2-codigo-latam/img/logo-video.png");
	background-size: cover;
	border-radius: 15px;
}

/******cabecera de la pagina se coloca posicion fixed y un z-index***********/
header {
	background-color: #00aba9;
	position: fixed;
	top: 0;
	width: 100%;
    z-index: 2;
}

/*******se eliminan las bolitas negras************/
li {
	list-style: none;
}

/****se eliminan los subrayados*********/
a {
	color: inherit;
	text-decoration: none;
}

/****menu de navegación***************/
.nav {
	width: 90%;
	height: 6rem;
	font-size: 17px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-menu {
	display: inline-flex;
}

.nav-item {
	margin: 0 0.5rem;
}

.nav-item:last-child {
	border-left: 1px solid white;
	padding-left: 0.75rem;
}

.nav-link {
	text-transform: capitalize;
	color: white;
	padding: 0.2rem;
	transition: 0.3s ease;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    border-bottom: 3px solid #ffff ;
}

/************imagen del hero**************/
.hero{
    height: 80vh;
    padding: 90px 20px;
    text-align: center;
    background:url("/proyecto-2-codigo-latam/img/hero\ \(2\).jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(120%);
}
/*********titulo principal del hero***********/
.hero__title{
    background-color:  #222429;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    padding: .5px 20px;
    margin-top: 220px;
    text-transform: uppercase;
    filter: drop-shadow(4px 2px 2px #00aba9);
}

/************texto del hero************/
.hero__text{
    background-color:  #222429;
    margin: 5px 30px 35px;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    filter: drop-shadow(4px 2px 2px #00aba9);
}

/********imagen de los cards********/
img{
    max-width: 100%;
    padding: 10px;
}

/*********estlización de los cards***************/
.container-card{
    width: 100%;
    max-width: 1200px;
    height: 530px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
    background-color: #222429;
    border-radius: 15px;
}

.container-card .card{
    width: 330px;
    height: 490px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #fdfdfd;
}

.container-card .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px #00aba9;
    cursor: pointer;
    color:  rgb(0, 0, 0);
}

.container-card .card img{
    width: 300px;
    height: 220px;
    padding: 10px;
    border-radius: 15px 15px;
}

.container-card .card h4{
    font-weight: 600;
    padding-top: 4px;
}

.container-card .card p{
    padding: 1rem 1rem;
    font-size: 16px;
    font-weight: 400;
}

/**********estilización de la section de los actores**************/
.last_thumbs{
    padding: 1rem 9% ;
    margin: auto;    
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.last_thumbs img{
    display: block;
    width: 88%;
    margin-right: 10%;
    padding-right: 10%;
    border-radius: 15px;
}


/*********clase que lleva el efecto a las fotos de los actores************/
.last_thumbs img:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 10px 12px #606060;
}

/*******id del h2 llamado actores********/
#actores{
    background: #222429;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px  #606060;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: .5rem;
    padding-bottom: 2rem;
}

.actores{
    background: #222429;
}

/**********h2 contenido peliculas***************/
.titulo{
    background: #222429;
    color: rgb(255, 254, 254);
    text-shadow: 5px 5px 5px  #606060;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: .2em;
}

/*******lanrgura y anchura del container de los videos**********************/
.container {
    background: #222429;
    width: 100%;
    min-height: 100vh;
}

/*******largura y anchura de los videos*********/
video {
    width: 100%;
    height: 100%;
}

/*******div que lleva el titulo***********/
.conten {
    padding: 20rem 9% ;
    background: linear-gradient(90deg,rgb(34, 36, 41), rgba(34, 36, 41, 0.5)), url("/proyecto-2-codigo-latam/img/cine.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

/********div que estliza el tamanio y color del titulo**************/
.conten h2 {
    font-weight: 400;
    font-size: 2.3rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 5px 5px 5px  #606060;
}

/********subtitulos *******/
.title1{ 
    padding: 1rem 9% ;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.8rem;
    text-shadow: 5px 5px 5px  #606060;
}

/********bordes de los videos*********/
.video{ 
    border: 0.12rem solid #222429;
}

/*********galeria de videos con grid*************/
.contvideos {
    padding: 0 9% ;
    margin: auto;    
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
}

/*********color de fondo de la seccion de peliculas completas**********/
.grupo2 {
    background: #222429;
}


/*********estlización del footer**************/

footer{
    background: linear-gradient(to top, #0a0a0a 0%, #222429 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    list-style: none;
    padding: 10px 100px 5px;
}

.medios-sociales{
    margin-bottom: 20px;
}

.medios-sociales i{
    font-size: 28px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 8px 8px 8px #222429;
    margin: 5px;
    cursor: pointer;
}

.links{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.links a{
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 15px;
    font-size: 17px;
    display: flex;
    justify-content:space-between;
}

.links a:hover{
    cursor: pointer;
    color:  #222429;
    transition: all .9s;
}

.copyright{
    font-size: 10px;
    margin-top: 25px;
    list-style: none;
    color: #fff;
}
/*********animacion del footer************/
.line{
    background-color:#00aba9;
    width: 28px;
    height: 6px;
    margin-top: 2px;
    border-radius: 40px;
    position: relative;
    left: -231px;
    animation: underline-animation 3s linear infinite;
}

/*****media query de animacion de la rayita del footer********/
@keyframes underline-animation {
    0%{
        left: -220px;
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        left: 231px;
        opacity: 0;
    }
}


@media (max-width: 550px) {
	.nav-menu {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		width: 50vh;
		height: 100vh;
		padding: 4rem 0;
		background-image: url("/proyecto-2-codigo-latam/img/cine.jpg");
        background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: flex-start;
		transform: translateX(-100%);
		transition: transform 0.5s ease-in-out;
	}

    @media screen and (min-width:220px) and (max-width:768px){
        .nav-menu{
            width: 75%;
        }
    }


/*******media query del menu de navegacion y menu hamburguesa************/    
	.nav-menu.open {
		transform: translateX(0);
	}

	.nav-item {
		padding: 0 1.25rem !important;
	}

	.nav-link {
		display: block;
		margin: 0.5rem 0;
	}

	.nav-item:last-child {
		border-left: 0;
		padding-left: 0;
	}

/********menu hamburguesa************/
	.mobile-menu {
		position: relative;
		width: 32px;
		height: 32px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 999;
	}

	.mobile-menu--button {
		width: 30px;
		height: 2px;
		background-color: white;
		border-radius: 0.25rem;
		transition: 0.3s ease-in-out;
	}

	.mobile-menu--button::before,
	.mobile-menu--button::after {
		content: "";
		position: absolute;
		width: 30px;
		height: 2px;
		background-color: white;
		border-radius: 0.25rem;
		transition: 0.3s ease-in-out;
	}

	.mobile-menu--button::before {
		transform: translateY(-10px);
	}

	.mobile-menu--button::after {
		transform: translateY(10px);
	}

	.mobile-menu.open .mobile-menu--button {
		transform: translateX(-5px);
		background-color: transparent;
	}

	.mobile-menu.open .mobile-menu--button::before {
		transform: rotate(45deg) translate(5px, -5px);
	}

	.mobile-menu.open .mobile-menu--button::after {
		transform: rotate(-45deg) translate(5px, 5px);
	}
}

/********media query de la imagen principal (hero)**************/

@media screen and (min-width:220px) and (max-width:767px) {
    .hero__title{
        position: relative;
        width: 100%;
        
    }

}

@media  screen and (min-width:240px) and (max-width:320px) {
    .hero__title{
        display: none;
    }

    .hero__text{
        width: 100%;
        height: 100px;
        padding: 1rem;
        margin: 1rem;
        margin-top: 6rem;
    }
}

/********media query de los cards (aqui se implemento una barra de scroll vertical )**********/
@media screen and (min-width:220px) and (max-width:768px){
    .container-card{
        position: relative;
        width: 100%;
        height: 10px;
        overflow-x: scroll;
    }
}

@media (max-width:1200px){
    .card img{
        width: 80%;
    }

    .container-card{
        height: 50%;
    }
}


/********media query con las fotos de los actores****************/

@media screen and (max-width: 1324px){   
    .last_article{
        width: 100%;
        position: relative;
    }

/********media query con todo el contenido de las peliculas*************/     
    .container{
        width: 100%;
        position: relative;
    }
}

/**********media query de los card para el celular "jiophone 2"*******/
@media screen and (min-width:220px) and (max-width:340px){
    .nav{
        min-width: none;
        max-width: 70%;
    }

    .hero{
        min-width: none;
        max-width: 100%;
    }

    .hero__text{
        min-width: none;
        max-width: 50%;
        padding: 0 auto;
        margin: 0 auto;
        align-items: center;
    }

    .card{
        width: 90%;
        height: 100vh;
        text-align: center;
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 3rem;
        padding-right: 1.3rem;
        margin: 0;
        line-height: normal;
    }

    .card  h4, p{
        text-align: center;
        margin-left: 0.5rem;
    }

    .card p{
        padding-bottom: 2rem;
    }

    .last_thumbs{
        position: relative;
        min-width: none;     
    }


}


